# Github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Gmail
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Outlook
OUTLOOK_CLIENT_ID=
OUTLOOK_CLIENT_SECRET=

# Base redirect URI (e.g -> http://localhost:9999/callback/<provider_name>)
BASE_REDIRECT_URI=http://localhost:9999/callback